/*//////////////////////////////FOOTER- additional information /////////////////////*/
.additional-info-wrapper {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(210, 210, 215);
}

.additional-info a {
  color: rgb(81, 81, 84);
  font-weight: bold;
}

/*/ //////////////////////////////FOOTER- directory wrapper /////////////////////*/

.directory-wrapper {
  display: flex;
  justify-content: space-between;
}

.category-title {
  font-size: 16px;
  color: rgb(29, 29, 31);
  margin-top: 10px;
}

.show-content-icon {
  width: 8px;
  display: none;
}

.hide-content a,
.category-content a {
  font-size: 12px;
  color: rgb(81, 81, 84);
  line-height: 25px;
}

/*/ //////////////////////////////FOOTER- footer nav /////////////////////*/
.footer-nav-wrapper {
  padding: 10px 0;
}

.footer-shop-link {
  padding: 10px 0;
}

.footer-shop-link a {
  color: rgb(0, 102, 204);
}

.footer-legal {
  padding-top: 10px;
  border-top: 1px solid rgb(210, 210, 215);
  display: flex;
  justify-content: space-between;
}

.footer-legal-copyright {
  width: 25%;
}

.footer-legal-links {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.footer-legal-links a {
  color: rgb(91, 91, 94);
  padding: 0 1.5% 0 0.4%;
  border-right: 1px solid rgb(210, 210, 215);
}

a.site-map {
  border: 0;
}
