@font-face {
  font-family: 'San Francisco';
  src: url('./SF-Pro.ttf');
}

* {
  margin: 0;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
}

/*/ ///////////////////////////////LARGE PRODUCT SECTION/////////////////////*/
.large-product {
  margin-top: 3rem;
}
/*/ ///////////////////////////////PRODUCTLARGE && SMALL-UNIT- product wrapper/////////////////////*/

.product-wrapper {
  height: 90vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  text-align: center;
  font-family: 'SF Pro Text';
  background-color: black;
}

/*/ ///////////////////////////////PRODUCTLARGE && SMALL-UNIT - information wrapper/////////////////////*/

.information-wrapper {
  margin: 2rem 0 0;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36%;
}

/*/ ///////////////////////////////INFORMATION WRAPPER - product copy/////////////////////*/
.product-wrapper p {
  padding-top: 10px;
}

.product-wrapper .detail {
  font-size: 16px;
  font-weight: 450;
}

.product-wrapper .product-title {
  font-size: 40px;
  font-weight: 600;
}

.product-wrapper .description {
  font-size: 25px;
  font-weight: 200;
}

/*/ ///////////////////////////////INFORMATION WRAPPER - cta /////////////////////*/
.cta-link-wrapper {
  display: flex;
  justify-content: center;
}
.cta-link-wrapper a {
  color: rgb(41, 151, 255);
}
.cta-link-wrapper a:hover {
  text-decoration: underline;
}
.cta-link {
  margin: 0.1rem 0.8rem 0;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

.cta-icon {
  width: 15px;
  height: 15px;
  padding-bottom: 1px;
  align-self: flex-end;
}

/*/ ///////////////////////////////BACKGROUND IMG WRAPPER - lazy image /////////////////////*/
.background-img-wrapper {
  width: 100%;
  height: 100%;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*/ ///////////////////////////////SMALL PRODUCT SECTION/////////////////////*/
.small-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-evenly;
}
/*/ ///////////////////////////////PRODUCT SMALL - small unit/////////////////////*/

.small-unit {
  height: 65vh;
  width: 49%;
  color: white;
  margin: 0.5rem 0;
  padding-bottom: 10px;
}

.small-unit .description {
  font-size: 1.2rem;
  font-weight: 400;
}

.small-unit .information-wrapper {
  margin: 1rem 0;
}

/*/ //////////////////////////////SMALL UNIT-apple tv & fitness /////////////////////*/

#AppleTV .information-wrapper,
#Fitness .information-wrapper {
  width: 20%;
}

#AppleTV .product-title,
#Fitness .product-title {
  font-size: 1.8rem;
  font-weight: 500;
}

#Fitness .description {
  padding: 0 5px;
}

#Fitness .cta-link,
#AppleTV .cta-link {
  font-size: 0.7rem;
}
#Fitness .cta-icon,
#AppleTV .cta-icon {
  width: 10.5px;
  height: 10.5px;
  align-self: flex-end;
}

/*/ //////////////////////////////FOOTER SECTION /////////////////////*/
.footer-section {
  background-color: rgb(245, 245, 247);
}
.footer-container {
  font-size: 12px;
  color: rgb(81, 81, 84);
  width: 70%;
  margin: auto;
}

/*/ //////////////////////////////Media Queries /////////////////////*/
@media (max-width: 768px) {
  .product-wrapper {
    height: 60vh;
    width: 100vw;
    max-width: 100%;
  }
  .information-wrapper {
    width: 60%;
  }
  .product-wrapper .detail {
    font-size: 14px;
    font-weight: 450;
  }

  .product-wrapper .product-title {
    font-size: 30px;
    font-weight: 600;
  }

  .product-wrapper .description {
    font-size: 18px;
    font-weight: 200;
  }

  .cta-link {
    margin: 0.2rem 1rem;
    font-size: 15px;
    font-weight: 400;
    display: flex;
  }
  .cta-icon {
    width: 10px;
    height: 10px;
    padding-bottom: 1px;
    align-self: flex-end;
  }

  #AppleTV .background-img {
    object-fit: cover;
    object-position: center top;
  }

  #AppleTV .information-wrapper,
  #Fitness .information-wrapper {
    width: 70%;
  }
}
